
@media screen and (max-width: 1500px) {
    .home_img .hero_img {
        height: 70vh;
    }
    .fashion_text {
        h1 {
            font-size: 2rem;
            padding: 1rem 0rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
    .fashion_img img {
        height: 50vh; 
        object-position: top; 
    }
    .slide {
        overflow: hidden;
    }
}
@media screen and (max-width: 1350px) {
    .title h2 {
        font-size: 3rem;
    }
}
@media screen and (max-width: 1050px) {
    .title h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1024px) {
    main {
        width: 100%;
        margin: 0;
    }
    .slide {
        display: block;
        width: 100%;
        text-align: center;
    }
   
    
    .hero_desc {
        padding: 0;
        h2 {
            font-size: 3rem;
            padding: 1rem 0rem;
        }
        p {
            padding: 1rem 2rem;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;
        }
    }
    .hero_img, .home_img {
        padding-top: 4rem;       
    }
    .hero_img {
        border-radius: 0rem;
    }

    .explore {
        width: 60%;
        margin: auto;
    }
    .detail_slide {
        width: 100%;
        text-align: center;
    }
    .fashion_text {
        p {
            margin-bottom: 5rem;
            padding: 0;
        }
        h1 {
            margin: 2rem 0rem;
        }
    }
    .fashion_nr {
        font-size: 10rem;
    }
    .nav_bar {
        display: block;
    }
    .nav_links {
        font-size: 2rem;
        text-align: center;
    }
    .contact {
        h2{
            font-size: 3rem;
            text-align: center;
        }
        p {
            font-size: 1.2rem;
            padding: 2rem;
            text-align: center;
        }
       
    }

}