* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #17181a;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}
#logo {
    color: white;
    font-family: "Abril Fatface";
}
.nav_header {
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;
}
.line1, .line2 {
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: white;
    pointer-events: none;
}
.slide {
    min-height: 100vh;
    margin: 0 auto 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #17181a;
}
.hero_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-basis: 25rem;
    padding-left: 5rem;
    position: relative;
}
.hero_img {
    position: relative;
    flex: 1;
    flex-basis: 25rem;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.fashion_span {
    color: rgb(255, 139, 93);
}
.mountain_span {
    color: rgb(86, 124, 228);
}
.hike_span {
    color: rgb(167, 110, 231);
}
.hero_desc {
    h2{
        font-family: "Abril Fatface";
        font-size: 4rem;
    }
    p {
        padding: 3rem 0rem;
        font-size: 1.3rem;
        color: rgb(223, 223, 223);
    }  
}
.explore {
    padding: 1rem 2rem;
    background: none;
    border: none;
    color: white;
    border: 1px solid white;
    font-size: 1rem;
    text-decoration: none;
    align-self: flex-start;
    cursor: pointer;
}
.nav_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    opacity: 1;
    clip-path: circle(50px at 100% -10%);
}
.burger {
    cursor: pointer;
}
.nav_links {
    font-size: 3rem;
    flex-basis: 30rem;
    h3 {
        padding: 3rem 0rem;
    }
}
.contact {
    flex-basis: 30rem;
    h2 {
        font-size: 3rem;
        padding: 2rem 0rem;
    }
    p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
.reveal_img, .reveal_text {
    position: absolute;
    width: 100%;
    height: 150%;
    background: #17181a;
    left: 0;
    top: -15%;
}
.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
}
.scrollmagic-pin-spacer {
    position: static !important;
}